body {
    overflow-y: hidden;
    height: 100vh;
}
div > input {
    border-radius: 0 !important;
}
div:nth-child(3) > input, .dropdown:nth-child(3), .input button:first-child, button:not(.button):nth-child(3) {
    border-radius: .28571429rem 0 0 .28571429rem !important;
}
div:last-child > input, .dropdown:last-child {
    border-top-right-radius: .28571429rem !important;
    border-bottom-right-radius: .28571429rem !important;
}
.navGrid {
    height: 100vh;
    width: 300px !important;
}
.mainGrid {
    height: 100vh;
    width: calc(100% - 300px) !important;
    overflow: hidden auto !important;
}
.mainButtons {
    width: calc(100% - 300px) !important;
    padding: 50px !important;
    position: fixed !important;
    bottom: 0;
    right: 0;
}
nav {
    position: absolute;
    padding: 50px 0 50px 50px;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;
    overflow-y: auto;
}
main {
    padding: 50px;
    margin-bottom: 150px !important;
}
.buttonToggleMode {
    position: fixed;
    bottom: 50px;
}

.ui.vertical.menu {
    width: auto;
}
main .ui.container {
    padding: 50px;
}
button i.icon.quote {
    margin-left: -.21428571em !important;
}